<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UltrasoundProtocols.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="UltrasoundProtocols.Properties.Settings.UltraSoundProtocolsDBConnectionString"
            connectionString="Data Source=VALERIYPC\SQLEXPRESS;Initial Catalog=UltraSoundProtocolsDB;Persist Security Info=True;User ID=val_guest;Password=hf94hd78"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <UltrasoundProtocols.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
        </UltrasoundProtocols.Properties.Settings>
    </userSettings>
</configuration>
