<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UltrasoundProtocols.Properties.Settings.UltraSoundProtocolsDBConnectionString"
            connectionString="Data Source=VALERIYPC\SQLEXPRESS;Initial Catalog=UltraSoundProtocolsDB;Persist Security Info=True;User ID=val_guest;Password=hf94hd78"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
